<a href="https://colab.research.google.com/github/SalmaAribatunNasywa/KKASmt1/blob/main/1_Fungsi_Print_Salma_Aribatun_Nasywa_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Menampilkan Teks Bebas

In [ ]:
print  ( "Halo dunia" )

Halo dunia

In [ ]:
print ("Selamat datang di Python")

Selamat datang di Python

In [ ]:
print ('Salma Aribatun Nasywa')

Salma Aribatun Nasywa

# Variabel

In [ ]:
BB = 50
print(BB)

50

In [ ]:
UMUR = ‚Å∂16
print(UMUR)

16

In [ ]:
print ( f "umur saya  { UMUR }  tahun" )

umur saya 16 tahun

# Menampilkan teks bebas dan variabel

In [ ]:
Harga_telur =  27000

print ( "Harga telur per 1 kg adalah" ,  harga_telur )

Harga telur per 1 kg adalah 27000

In [ ]:
nama_pembeli = "Salma"

print("Nama pembeli telur adalah " + str(nama_pembeli))

Nama pembeli telur adalah Salma

In [ ]:
Harga_telur = 27000

print("Harga telur 1 kg adalah " + str ( harga_telur ))

Harga telur 1 kg adalah 27000

#Escape Character

In [ ]:
print("Nama : Salma Aribatun Nasywa")
print("Kelas : XI-1")
print("Nomor absen : 31")

Nama : Salma Aribatun Nasywa
Kelas : X1-1
Nomor absen : 31

In [ ]:
print("Nama\t\t: Salma Aribatun Nasywa\nKelas\t\t: XI-1\nNomor absen\t: 31")

Nama		: Salma Aribatun Nasywa
Kelas		: XI-1
Nomor absen	: 31

In [ ]:
print("""Nama : Salma Aribatun Nasywa
Kelas : XI-1
Nomor Absen : 31""")

Nama : Salma Aribatun Nasywa
Kelas : XI-1
Nomor Absen : 31

Latihan Soal
1. Tampilkan teks bebas:Hari ini saya bahagia belajar bahasa python
2. Tampilkan nilai variabel:mata_pelajaran_favorit = Kode dan Kecerdasan Buatan
3. Tampilkan nilai variabel:nilai_kka = 100
4. Tampilkan teks bebas dan nilai variabel dengan tiga mode (f string,"+",","): "Nilai KKA saya adalah {nilai_kka} loh!"

In [ ]:
print("Hari ini saya bahagia belajar bahasa python")

Hari ini saya bahagia belajar bahasa python

In [ ]:
mata_pelajaran_favorit = "Bahasa Arab"
print(mata_pelajaran_favorit)

Bahasa Arab

In [ ]:
nilai_kka = 100
print(nilai_kka)

100

In [ ]:
nilai_kka = 98
print(f"Nilai KKA saya adalah {nilai_kka} loh!")

Nilai KKA saya adalah 98 loh!

In [ ]:
nilai_kka = 98
print("Nilai KKA saya adalah", nilai_kka, "loh!")

Nilai KKA saya adalah 98 loh!

In [ ]:
nilai_kka =  98
print ( "Nilai KKA saya adalah "  +  str ( nilai_kka )  +  " loh!" )

Nilai KKA saya adalah 98 loh!

In [ ]:
print ('Ja\'far Shodiq')

Ja'far Shodiq

In [ ]:
print ("Ja'far Shodiq")

Ja'far Shodiq

In [ ]:
print ("Bu Shinta berkata, \"Semua harus menyimak pelajaran.\"")

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [ ]:
print ('Bu Shinta berkata, "Semua harus menyimak pelajaran." ')

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [ ]:
print ("Lokasi file video karnaval ada di D:\\Karnaval 2025\\M4")

Lokasi file video karnaval ada di D:\Karnaval 2025\M4

#Parameter Fungsi Print

In [ ]:
Tahun = 2009
Bulan = "Oktober"
Tanggal = 23

print (Tanggal, end=" ")
print (Bulan, end=" ")
print (Tahun)

23 Oktober 2009

In [ ]:
Tahun = 2009
Bulan = "Oktober"
Tanggal = 23

print (Tanggal, Bulan, Tahun, sep="/")

23/Oktober/2009

Latihan :

Tanggal-Bulan-Tahun

In [ ]:
Tahun = 2009
Bulan = "Oktober"
Tanggal = 23

print (Tanggal, Bulan, Tahun, sep= "-")

23-Oktober-2009

In [ ]:
Nama_depan = "Salma"
Nama_belakang = "Aribatun Nasywa"

print (Nama_depan,Nama_belakang)

Salma Aribatun Nasywa

In [ ]:
Nama_depan = "Salma"
Nama_belakang = "Aribatun Nasywa"

print (Nama_depan, end=" ")
print (Nama_belakang)

Salma Aribatun Nasywa

#Tugas

In [ ]:
print   ( 'Bu Shinta berkata, "Berikut adalah judul pelajara n  hari Senin Rabu silahkan di simpan di la p top masing-masing di folder local disk D:\\Jadwa l Pelajaran\\Kelas XI Semester 1"' )
print   ( "\nJadwal Pelajaran Mingguan" )
print   ( "=======================================================" )
print   ( "Jam\tSenin\t\tSelasa\t\tRabu" )
print   ( "Jam 1\tMatematika\tBahasa\t\tInformatika" )
print   ( "Jam 2\tBahasa Ing.\tSejarah\t\tMa'rifatullah" )
print   ( "Jam 3\tInformatika\tOlahraga\tBiologi" )

Bu Shinta berkata, "Berikut adalah judul pelajara n  hari Senin Rabu silahkan di simpan di la p top masing-masing di folder local disk D:\Jadwa l Pelajaran\Kelas XI Semester 1"

Jadwal Pelajaran Mingguan
=======================================================
Jam	Senin		Selasa		Rabu
Jam 1	Matematika	Bahasa		Informatika
Jam 2	Bahasa Ing.	Sejarah		Ma'rifatullah
Jam 3	Informatika	Olahraga	Biologi

In [ ]:
Nama_1 = "Naufal"
Nama_2 = "Favian"
Nama_3 = "Humaira"

print (Nama_1, Nama_2, Nama_3, Nama_1, sep="~")

Naufal~Favian~Humaira~Naufal

In [ ]:
Nama_1 = "Naufal"
Nama_2 = "Favian"
Nama_3 = "Humaira"

print (Nama_1, end="~")
print (Nama_2)
print (Nama_3, end="~")
print (Nama_2)

Naufal~Favian
Humaira~Favian