<a href="https://colab.research.google.com/github/SalmaAribatunNasywa/KKASmt1/blob/main/2_Tipe_Variabel_Salma_A_N_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Salma Aribatun Nasywa

Kelas : XI-1

No.Absen : 32

#Konsep Dasar

In [ ]:
email_user_1 =  "salmaaribatunnasywa_2025@gmail.com"
 print  ( email_user_1 )

salmaaribatunnasywa_2025@gmail.com

In [ ]:
sabun_lifeboy =  15000
 cetakan  ( sabun_lifeboy )

15000

In [ ]:


print(sabun_lifeboy*5)

75000

#Peraturan Penulisan Variabel

In [ ]:
# Penulisan Variabel hanya boleh menggunakan huruf , angka dan underscore
# Tidak boleh menggunakan spasi

nama siswa =  "Afa"
print ( nama siswa )

SyntaxError: invalid syntax (ipython-input-241493974.py, line 4)

In [ ]:
# Tidak boleh di awal dengan angka

1 _nama_siswa = "Afa"
print( 1 _nama_siswa )

SyntaxError: invalid syntax (ipython-input-3292163243.py, line 3)

In [ ]:
# Penulisan Variabel itu case sensitif /  capslock sensitif

nama_siswa_1 = "Afa"
print( Nama_siswa_1 )

NameError: name 'Nama_siswa_1' is not defined

In [ ]:
# Dilarang menggunakan kata kunci dalam Bahasa Python

prin = "Afa"
print (prin)

Afa

In [ ]:
end =  "Naufal"
print (end)

Naufal

In [ ]:
# Deskriptif

_ = "Favian"
print (_)

Favian

In [ ]:
# Tidak boleh pakai kata kunci python
# Kalau eror, harus disconnect dulu

prin = "Devin"
print (prin)

Devin

#Assignment

##Single Assignment

In [ ]:
nama_siswa_2 = "Dhapne"
nama_siswa_3 = "Farel"

print (nama_siswa_2)
print (nama_siswa_3)

Dhapne
Farel

##Multiple Assignment

In [ ]:
nama_siswa_4, nama_siswa_5 = "Sada", "Selo"

print(nama_siswa_4)
print(nama_siswa_5)

Sada
Selo

##Assignment ke Banyak Variabel Sekaligus

In [ ]:
nilai_afa = nilai_favian = 100

print(nilai_afa)
print(nilai_favian)

100
100

##Perubahan Nilai Variabel

In [ ]:
nilai_afa = 95
print(nilai_afa)

95

#Latihan Soal : Harga Barang di Swalayan

Seorang kasir sedang mencatat harga beberapa barang di Swalayan. Bantulah kasir dengan membuat program Phyton yang melakukan.

##Single Assignment

In [ ]:
harga_susu = 15000
harga_roti = 12000
harga_telur = 24000

print (harga_susu)
print (harga_roti)
print (harga_telur)

15000
12000
24000

##Multiple Assignment

In [ ]:
harga_gula, harga_minyak = 14000, 20000

print (harga_gula)
print (harga_minyak)

14000
20000

##Pengisian Nilai Sama

In [ ]:
harga_mie_ayam = harga_mie_soto = harga_mie_kari = 3500

print (harga_mie_ayam)
print (harga_mie_soto)
print (harga_mie_kari)

3500
3500
3500

##Swap (Tukar Nilai)

In [ ]:
harga_roti = 15000
harga_susu = 12000

print (harga_roti)
print (harga_susu)

15000
12000

##Perubahan Nilai Variabel

In [ ]:
# Mengalami Diskon

harga_telur = 24000 - 2000
harga_minyak = 20000 + 3000

print (harga_telur)
print (harga_minyak)

22000
23000

#Arimatika

In [ ]:
print ("5000*3")

5000*3

In [ ]:
# Operand tanpa di simpan dalam variabel

print (5000*3)

15000

In [ ]:
# Simpan operand ke dalam variabel

harga_kojek = 6000
banyak_porsi = 3

print (harga_kojek*banyak_porsi)

18000

In [ ]:
# Simpan hasil operasi ke dalam variabel


harga_total_kojek = 3000*3

print (harga_total_kojek)

9000

In [ ]:
# Simpan nilai operasi dan hasil operasi ke dalam variabel

harga_cilok = 10000
jumlah_porsi_cilok = 5
harga_total_cilok = harga_cilok*jumlah_porsi_cilok

print (harga_total_cilok)

50000

In [ ]:
uang_yang_diterima = 100000
uang_kembalian = uang_yang_diterima - harga_total_cilok

print (uang_kembalian)

50000

#Soal

Satu kardus berisi 24 botol minum. Jika ada 3 kardus, berapa jumlah botol?

In [ ]:
print (24*3)

72

In [ ]:
total_jumlah_botol = 24*3

print (total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3

print (banyak_botol_per_kardus*jumlah_kardus)

72

#Tipe Variabel

In [ ]:
usia = 65

type (usia)

int

In [ ]:
berat_telur = 2.5

type(berat_telur)

float

In [ ]:
nama = "Salma"

type(nama)

str

In [ ]:
remidi = False

type(remidi)

bool

In [ ]:
remidi = True

type(remidi)

bool

In [ ]:
koordinat_bintang = -1.5

type(koordinat_bintang)

float

In [ ]:
koordinat_titik = -8

type(koordinat_titik)

int

#Input

In [ ]:
panjang = 10
lebar = 5
luas = panjang*lebar

print(luas)

50

In [ ]:
input()

In [ ]:
panjang = input()

10

In [ ]:
print(panjang)

10

In [ ]:
lebar = input()

5

In [ ]:
print(lebar)

5

In [ ]:

#Tipe data masih string dan harus di-convert ke integer/float
luas = panjang*lebar

print(luas)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
type(panjang)

str

In [ ]:
type(lebar)

str

In [ ]:
panjang = int(panjang)

In [ ]:
lebar = int(lebar)

In [ ]:
type(panjang)

int

In [ ]:
panjang_1 = int(input("Masukkan panjang persegi: "))

Masukkan panjang persegi: 10

In [ ]:
panjang_2 = int(input("Masukkan panjang persegi: "))
lebar_2 = int(input("Masukkan lebar persegi: "))

luas_2 = panjang_2*lebar_2

print(f"Luas persegi panjang adalah {luas_2} cm^2")

Masukkan panjang persegi: 4
Masukkan lebar persegi: 10
Luas persegi panjang adalah 40 cm^2

#Soal Menghitung Volume Balok (dalam cm^2)

Buatlah program Phyton untuk menghitung volume balok berdasarkan input pengguna.

Gunakan rumus : V= p√ól*t

In [ ]:
panjang_3 = input()

10

In [ ]:
print(panjang_3)

10

In [ ]:
lebar_3 = input()

5

In [ ]:
print(lebar_3)

5

In [ ]:
tinggi_3 = input()

4

In [ ]:
print(tinggi_3)

4

In [ ]:
panjang_3 =int(panjang_3)

In [ ]:
lebar_3 = int(lebar_3)

In [ ]:
tinggi_3 = int (tinggi_3)

In [ ]:
panjang_3 = int(input("Masukkan panjang balok: "))
lebar_3 = int(input("Masukkan lebar balok: "))
tinggi_3 = int(input("Masukkan lebar balok: "))

volume_3 = panjang_3*lebar_3*tinggi_3

print(f"Volume balok adalah {volume_3} cm^2")

Masukkan panjang balok: 10
Masukkan lebar balok: 5
Masukkan lebar balok: 4
Volume balok adalah 200 cm^2

#Konversi Tipe Data

In [ ]:
a = 3
print(a)
type(a)

3

int

In [ ]:
a = float(a)
print(a)
type(a)

3.0

float

In [ ]:
a = str(a)
print(a)
type(a)

3.0

str

In [ ]:
a = bool(a)
print(a)
type(a)

True

bool

In [ ]:
b = "cicak"
print(b)

b = bool(b)
print(b)

cicak
True

In [ ]:
c = ""
print(c)

c = bool(c)
print(c)

False

In [ ]:
d = False
print(d)
type(d)

False

bool

In [ ]:
e = "false"
print(e)
type(e)

false

str

#Operator Perbanding

In [1]:
print(8<5)

False

In [2]:
print(8>5)

True

In [3]:
print(9>=9)

True

In [5]:
print(8 == 5)

False

In [6]:
print(8 == 8)

True

In [7]:
print(1 !=1)

False

In [10]:
a = 10
b = 20
c = 30

print(a>c)

False

In [9]:
print(a>30)

False

In [11]:
nilai_kka = 75
kkm_kka = 80

print(nilai_kka > kkm_kka)

False

In [12]:
print(8>7 and 5>6)

False

In [13]:
print(8>7 and 5<6)

True

In [14]:
print (8>7 or 5>6)

True

In [16]:
print(not(8>7 or 5>6))

False

In [18]:
print(not(8>=9 or 9!=8))

False

In [20]:
iq_min = 125
tinggi_min = 165

print(125 >= iq_min and 170 >= tinggi_min)

True

In [21]:
iq_afa = 125
tinggi_afa = 170

print(iq_afa >= iq_min and tinggi_afa >= tinggi_min)

True

In [24]:

tinggi_min = 165
berat_badan_min = 50
umur_max = 23

tinggi_farel = 170
berat_badan_farel = 55
umur_farel =23

print(tinggi_farel >= tinggi_min and berat_badan_farel >= berat_badan_min and umur_farel <= umur_max)

True